@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Roboto+Slab:wght@100..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family:"Parkinsans", sans-serif;
    height: 100%;
}

.container{
    background: linear-gradient(130deg, #8a2be2, #4169e1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 8px;
    max-width: 350px;

}

.logo{
    width: 200px;
    object-fit: contain;
}

h1{
    color: #333;
    margin: 0.320px;
}

p{
    color: #666;
    margin-bottom: 20px;
}

#notify-form{
    display: flex;
    flex-direction: column;

}

input[type="email"]{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out ;
    

}
button:hover{
    background-color: #666;
    color: white;
    box-shadow: 0 4px 6px rgba(0 ,  0, 0, 0.1);
}
